
#carousel-div
{
    
    width: 80vw;
    height: 50vh;
    margin-left: 10rem;
    margin-top: 1rem;
    border-radius: 15px;
    background-image: linear-gradient(to right bottom,
     #333f41, #334042, #324143, #324344, #314445,
      #2e4546, #2c4747, #294848, #234a49, #1c4c4a,
       #144d4b, #074f4b);
}

#welcome-div
{
    width: 50vw;
    height: 15vh;
    border-radius: 15px;
    margin-left: 20rem;
    position: relative;
}

#search-div{

    width: 79vw;
    height: 24vh;
    border-radius: 15px;

}

.serContainer{
    position: absolute;
    margin-top: 210px;
    margin-left: 35rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 50px;
  }
  .serContainer .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: crimson;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
  .serContainer .search:hover {
    cursor: pointer;
  }
  .serContainer .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  .serContainer .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
  }
  .serContainer input {
    font-family: "Inconsolata", monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  .serContainer input:hover {
    cursor: pointer;
  }
  .serContainer input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
  }
  .serContainer input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
  }
  .serContainer input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
  }
  .serContainer input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
  }
  .serContainer input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }