#contact-div
{
    border-radius: 19px;
    background: #e0e0e0;
        box-shadow:  5px 5px 68px #5a5a5a,
             -5px -5px 68px #ffffff;
    width: 70rem;
    height: 30rem;
    margin-top: 6rem;
    margin-left: 10rem;
    position: relative;
}
#contact-div-child
{
    border-radius: 19px;
    background: #645757;
        box-shadow:  5px 5px 68px #5a5a5a,
             -5px -5px 68px #ffffff;
    width: 50rem;
    height: 23rem;
    margin-top: 3rem;
    margin-left: 10rem;
    position: absolute;
}
